<html>
<head>
	<link rel="stylesheet" href="main.css">
</head>
<body>

<div id="wrapper">
<div id="side">
	<div id="logo"><h2>AskTag</h2><span>Tag line here...</span></div>
	<div id="search">
		<form id="search-form" action="/search" method="POST" enctype="multipart/form-data">
			<input type="text" name="search" placeholder="Tag Search" required>
			 <input class="searchbutton" type="submit" value="Search">
		</form>	<!-- End Search form -->
	</div>
	<div id="top-tags">
		<h3>Top Tags</h3>
		<p>Tag | Tag | Tag| Tag | Tag | Tag | Tag</p><hr>
	</div>
	<div id="top-posts">
		<h3>Top Posts</h3>
		<ul>
			<li>Some post here</li>
			<li>Some post here</li>
			<li>Some post here</li>
			<li>Some post here</li>
		</ul><hr>
	</div>
</div>

<div id="main">
	<div id="top-menu">
		<ul>
			<li>Latest</li><li>Tags</li><li>Unanswered</li><li>My Questions</li><li>About</li>
		</ul>
	</div>
		<div id="right-content">
							<h2>Rules</h2>
						Here are some  helpful rules to make everyone's stay better:
						<ul>
							<li>Don't be douche</li>
							<li>Don't post porn</li>
							<li>Don't harass users</li>
							<li>Don't harass admins</li>
							<li>Keep it classy</li>
						</ul>
	
	</div>
	<div id="main-content">
		<h2>Latest</h2>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque efficitur sapien ut sem vehicula suscipit. Duis in orci vestibulum, faucibus dui at, mollis sapien. Fusce sem libero, ullamcorper nec turpis sit amet, imperdiet porta purus. Ut tristique sem quis massa iaculis sodales. Praesent ac feugiat leo. Proin iaculis justo odio, vitae ullamcorper nisi elementum non. Suspendisse vehicula, nisi et efficitur finibus, magna eros lobortis ante, ac aliquet erat dui sit amet augue. Aliquam vestibulum nisl ac quam venenatis molestie.<p>

		Suspendisse vel semper nisi. Morbi at augue urna. Duis vel tristique nisi, non accumsan mauris. Cras bibendum vulputate est ut lobortis. Quisque tempor ultricies convallis. Donec nec nisi facilisis arcu aliquet suscipit. Morbi congue quis tortor id placerat. Nam hendrerit felis erat, malesuada eleifend est tincidunt ut. Vivamus sit amet eros purus. Fusce dapibus tristique quam sed dictum. Aenean in erat est. Mauris tempus mi eros, nec dapibus lectus congue id. Vestibulum at ante nulla. Ut vulputate metus id lectus maximus, at tincidunt est tincidunt. </p>
	
	</div>

</div>

</div>


</body>

</html>