@import URL("reset.css");
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300);

body{
	font-size:14px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:#2a2a2a;
	background-color:#FFF3F0;
}

h1, h2, h3{
	padding:0;
	margin:0;
}

h1{
	font-size:2em;
}
h2{
	font-size:1.5em;
}
h3{
	font-size:1.2em;
}

.clear-fix{
	clear:both;
}

.container{
	width:90%;
	margin:auto;
	border:1px solid #ccc;
}

header{
	border-bottom:1px solid #ccc;
	overflow:Auto;
}

header .logo{
	float:left;
}

header nav{
	float:left;
}


header nav ul{
	list-style:none;
	display:block;
	margin:0;
	padding:0;
	overflow:auto;
}

header nav ul li{
	float:left;
	padding:0 15px 0 15px;
	display:block;
}

header nav ul li a{
	display:block;
	line-height:2.75em;
}


header #search-form{
	float:right;
}

.main-content{
	min-height:500px;
}

.right-content{
	width:20%;
	float:right;
	font-size:0.85em;
}

.posts-container{
	margin-right:22%;
}

.posts-container ul{
	margin-left:-30px;
}

.posts{
	list-style:none;	
}

.posts li{
	border:1px dotted #ccc;
}

.posts .post-time{
	color:#999;
}

.posts .post-type{
	color:#999;
}

.posts .post{
	background-color:#E6F0FF;
}
.posts .question{
	background-color:#EBF5CC;
}
.posts .link{
	background-color:#FFE6E6;
}

.comment-posted{
	color:#999;
	font-size:.8em;
}

.posts-container .tags li{
	display:block;
	width:50px;
	height:50px;
	float:left;
	margin:10px;
	text-align:center;
	line-height:50px;
	background-color:#ccc;
	border:1px solid #999;
}

.comment-container{

}

footer{
	clear:both;
	text-align:center;
	border-top:1px solid #ccc;
	font-size:0.75em;
}









