<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>AskTag</title>
        <meta name="description" content="Some stuff">
        <meta name="viewport" content="wclassth=device-wclassth, initial-scale=1">

        <link rel="stylesheet" href="static/css/main.css">
		
        <script src="static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class="container">
		<header>
			<h1 class="clear-fix logo">Ask<span>Tag</span></h1>
			<nav>
				<ul>
					<li><a href="/">Latest</a></li>				
					<li><a href="/tags">Tags</a></li>
					<li><a href="/unanswered">Unanswered</a></li>
					<li><a href="/myquestions">My questions</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<div class="main-content"><!-- Begin content area --->
			<div class="side-content">

						<form id="search-form" action="/search" method="POST" enctype="multipart/form-data">
							<input type="text" name="search" placeholder="Tag Search" required>
							 <input class="searchbutton" type="submit" value="Search">
						</form>	<!-- End Search form -->

					<div class="top-tags clear-fix">
						<h3>Top Tags</h3>
						<ul>
							{% for tag in latesttags %}
								<li><a href="">{{ tag.title|slice:"18" }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="top-posts clear-fix">
						<h3>Top Posts</h3>
						<ul>
							{% for post in sideposts %}
								<li><a href="">{{ post.title|slice:"22" }}..</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			<div class="right-content">
				<div class="right-user">
					<div class="user">						
						{% if user %}
							<strong> {{ user }} | </strong>
							<a href={{ logout_url }} >Logout</a>
						{% else %}
							<strong>Not Logged in | </strong>
							<a href="{{ login_url }}">Login<a>
						{% endif %}
					</div>
				</div>
				<div class="right-make-post">
					<div id="makepost"><h2>Make a Post!</h2></div>
					<div id="right-make-post-inner" class="hidden">
						<a href="/post?type=post">Post a Text Post</a><br>
						<a href="/post?type=link">Post a Link</a><br>
						<a href="/post?type=question">Ask a question</a>
					</div>
				</div><!-- End right post --->
				<div class="right-body">
					<p>
						<h2>Rules</h2>
						Here are some  helpful rules to make everyone's stay better:
						<ul>
							<li>Don't be douche</li>
							<li>Don't post porn</li>
							<li>Don't harass users</li>
							<li>Don't harass admins</li>
							<li>Keep it classy</li>
						</ul>
					</p>
				</div><!-- End right body --->
			</div><!-- End right content --->
			
			<div class="posts-container">
				<h2>{{ posts_title.title }}</h2>