<div id="page_container" class="container">

	<ul class="posts content">
		{% for post in posts %}
			<li >
				
					<img class="user-image" src = "static/img/user.png" />
				

				<div class="{{ post.type }}">
				{% if post.type == 'link' %}
					<h3><a href="{{ post.url }}" target="_blank">{{ post.title|slice:"40" }}</a></h3>
				{% else %}
					<h3><a href="/view?post={{ post.key.id }}">{{ post.title|truncatewords:"10" }}</a></h3>
				{% endif %}
				<div class="post-likes clear-fix">Likes: {{ post.likes }} | <a href="/like?id={{ post.key.id }}">Like This Post</a></div>
				<div class="post-comments clear-fix">Comments: <a href="/view?post={{ post.key.id }}">{{ post.comments }}</a></div>
				<div class="post-tags">
				|&nbsp;&nbsp; Tags: 
				{% for tag in post.tags %}
					<a href="/tag?tag={{ tag }}">{{ tag.title }}</a>
				{% endfor %}
				</div>				
				<div class="post-info clear-fix">					
					<span class="post-user">Posted by: {{ post.uploaded_by }}
					<span class="post-time">| Posted on: {{ post.posted }} </span>
				</div>
					</div>
			</li>
		{% endfor %}
	</ul>
	<div class="page_navigation"></div>	
</div>
