<div id="view-post">
<div id="post-body">{{ post.body }}</div>
<div class="posted-by">Posted by <strong> {{ post.uploaded_by }} </strong> on <em>{{ post.posted }}</em> </div>
<div class="likes">Likes: {{ post.likes }} | <a href="/like?id={{ post.key.id }}">Like This Post</a></div>
<div id="comment"><a>Leave a Comment</a></div>

<form id="comment-form" class="hidden" action="/comment" method="POST" enctype="multipart/form-data">
	<textarea name="body" rows="4" cols="30" placeholder="Post comment here"></textarea><br>
	<input type="submit" name="submit" value="Save" class="button"> 
	<input type="hidden" name="parent" value="{{ post.key.id }}">
</form>	<!-- End Make post form -->
<div class="comment-container">
{% for comment in comments %}
	{% if comment.parent_comment == 1 %}
		<div class="comment">
			<div id="comment-body">{{ comment.body }}
			<div class="posted-by">Posted by: {{ comment.posted_by }}</div></div>
			<div id="comment-comment"><a>Reply</a></div>
			<form id="comment-nest-form" class="hidden" action="/comment" method="POST" enctype="multipart/form-data">
				<textarea name="body" rows="1" cols="30" placeholder="Post comment here"></textarea><br>
				<input type="submit" name="submit" value="Reply" class="button"> 
				<input type="hidden" name="parent_comment" value="{{ comment.key.id }}">
				<input type="hidden" name="parent" value="{{ post.key.id }}">
			</form>	<!-- End Make post form -->	
			
			{% for comment2 in comments %}
				{% if comment2.parent_comment == comment.key.id  %}
					<div class="comment-nested">
					<p>{{ comment2.body }}
					<span class="comment-posted">Posted by: {{ comment2.posted_by }}</span></p>
					</div>
				{% endif %}				
			{% endfor %}
			
		</div>
	{% endif %}
{% endfor %}
</div>
</div>