<p>{{ post.body }}</p>
<span>Posted by <strong> {{ post.uploaded_by }} </strong> on <em>{{ post.posted }}</em> </span>

<form id="comment-form" action="/comment" method="POST" enctype="multipart/form-data">
	<textarea name="body" rows="5" cols="30" placeholder="Post comment here"></textarea><br>
	<input type="submit" name="submit" value="Save" class="button"> 
	<input type="hidden" name="parent" value="{{ post.key.id }}">
</form>	<!-- End Make post form -->
<div class="comment-container">
{% for comment in comments %}
	{% if comment.parent_comment == 1 %}
		<div class="comment">
			<p>{{ comment.body }}
			<span class="comment-posted">Posted by: {{ comment.posted_by }}</span></p>
			<form id="comment-nest-form" action="/comment" method="POST" enctype="multipart/form-data">
				<textarea name="body" rows="1" cols="30" placeholder="Post comment here"></textarea><br>
				<input type="submit" name="submit" value="Save" class="button"> 
				<input type="hidden" name="parent_comment" value="{{ comment.key.id }}">
				<input type="hidden" name="parent" value="{{ post.key.id }}">
			</form>	<!-- End Make post form -->	
			
			{% for comment2 in comments %}
				{% if comment2.parent_comment == comment.key.id  %}
					<div class="comment-nested">
					<p>{{ comment2.body }}
					<span class="comment-posted">Posted by: {{ comment2.posted_by }}</span></p>
					</div>
				{% endif %}				
			{% endfor %}
			
		</div>
	{% endif %}
{% endfor %}
</div>
